<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/sanitize.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/booking-main.css">
	<link rel="stylesheet" type="text/css" href="/css/material.css">

	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/js/booking-main.js"></script>
	<script type="text/javascript" src="/js/help.js"></script>


	<title>Booking</title>
</head>
<body>
	<!--NAVBAR-->
	{{>navbar}}

	<!--MAIN ROW-->
	<div class="row w-100 m-0 h-100">
		<!--COLUMN FOR SIDEBAR-->
		{{>sidebar}}

		<!--COLUMN FOR MAIN-->
		<div id="main-screen" class="col-10 mx-auto">
			<!--CONTAINER FOR MAIN room-->
			<div id="container-screen" class="container shadow-lg bg-light p-4">
				<div class="d-flex pt-2 ps-2 m-0 align-items-center">
					<h1 class="m-0">BOOKING</h1>
					<p id="screen-info" class="border-start my-0 ms-4 ps-3 w-25 text-secondary">Where bookings are created, edited, and managed corresponding the current date chosen.</p>
					<!--FOR TIME INPUT-->
					<div class="ms-auto d-flex flex-column align-items-end w-25">
						<form class="d-flex flex-column form-group justify-content-center align-items-center w-50" action="" method="get">
							<h5>Chosen Time</h5>
							<input type="time" class="form-control" name="chosen-time" id="chosen-time" value="{{time}}" data-bs-toggle="tooltip" data-bs-placement="left" title="Sets the time of the day where the status of rooms are relative to">
						</form>
					</div>


					<div id="chosen-date" class="d-flex flex-column ms-4 me-3 justfy-content-center align-items-center text-center rounded border p-3 shadow-sm" onclick="window.location='/calendar/{{getMonthYear date}}'">
                        <span class="material-icons-two-tone md-36 mb-2">today</span>
                        <h5 class="m-0">Chosen Date</h5>
                        <h4 class="text-primary m-0">{{beautifyDate date}}</h4>
                    </div>
				</div>
				<hr>
				<div class="d-flex justify-content-end align-items-center me-3">
					<span class="text-secondary h5 me-2">LEGEND:</span>
					<span class="legend occupied h5 rounded-pill border p-2 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="The room is currently being occupied by a customer">Occupied</span>
					<span class="legend booked h5 label rounded-pill border p-2 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="The room has already been booked by a customer">Booked</span>
					<span class="legend vacant h5 label rounded-pill border p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="The room is currently available for booking">Vacant</span>
				</div>

				<!--ROOM ARRAY HERE-->
				<div id="" class="row m-3">
					{{#each list}}

					{{#if booking}}
					<!--BOOKED-->
					<div class="room-container col-2 p-0 m-0 border booked">
						<button id="room-{{room._id}}-id" type="button" class="btn w-100 h-100" data-bs-toggle="modal" data-bs-target="#room-{{room._id}}-modal">
							<h3 class="text-center room-number">{{room.room_number}}</h3>
							{{room.room_type}}
						</button>

						<!-- Modal -->
						<div class="modal fade" id="room-{{room._id}}-modal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-header booked">
										<h3 class="modal-title" id="reserveItemModalLabel">Room {{room.room_number}} Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body px-4 pt-3 pb-4">
										<div class="row">
											<!--Room information-->
											<div class="col pe-0 border-end">
												<h4>Room Status:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-status">Booked</span></h5>
												<h4>Room Type:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-type">{{room.room_type}}</span></h5>
												<h4>Room Rate:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-rate">{{room.room_rate.daily}} Php/Day</span></h5>
												<h4>Duration of Stay:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-startdate">{{beautifyDate booking.start_date}}</span> to <span id="room-enddate-id">{{beautifyDate booking.end_date}}</span></h5>
											</div>

											<!--Guest information-->
											<div class="col ps-4">
												<h4>Guest Name:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-firstname" class="text-break">{{booking.guest.first_name}}</span> <span id="room-lastname-id">{{booking.guest.last_name}}</span></h5>
												<!-- Optional Fields -->
												{{#if booking.guest.birthdate}}
												<h4>Birthdate:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-birthdate">{{beautifyDate booking.guest.birthdate}}</span></h5>
												{{/if}}
												{{#if booking.guest.address}}
												<h4>Address:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-address" class="text-break">{{booking.guest.address}}</span></h5>
												{{/if}}
												{{#if booking.guest.contact_number}}
												<h4>Contact Number:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-contact">{{booking.guest.contact_number}}</span></h5>
												{{/if}}
												{{#if booking.guest.company_name}}
												<h4>Company Name:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-company" class="text-break">{{booking.guest.company_name}}</span></h5>
												{{/if}}
												{{#if booking.guest.occupation}}
												<h4>Occupation:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-occupation">{{booking.guest.occupation}}</span></h5>
												{{/if}}
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<!-- Delete Form -->
										<!-- Button trigger modal -->
										<button id="delete-{{room._id}}" name="delete_{{room._id}}" type="button" class="btn btn-danger rounded me-auto ms-2" data-bs-toggle="modal" data-bs-target="#delete-{{room._id}}-Modal">
											<span class="material-icons-outlined me-1">delete</span>Delete
										</button>

										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<a href="{{room._id}}/edit" class="btn btn-primary"><span class="material-icons-outlined me-1">edit</span>Edit</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal -->
						<div class="modal fade deleteModalItem" id="delete-{{room._id}}-Modal" tabindex="-1" aria-labelledby="delete-{{room._id}}-ModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h3 class="modal-title" id="delete-{{room._id}}-ModalLabel">Delete Booking</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body p-4">
										<p class="text-danger">WARNING: Changes cannot be undone once the <strong>Confirm</strong> button has been pressed.</p>
										<p>Are you sure you want to <strong>permanently delete</strong> this booking with the following information?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
										<form id="form-delete-{{room._id}}" class="m-0 p-1" action="/booking/{{room._id}}/delete" method="post">
											<button type="submit" class="btn btn-danger"><span class="material-icons-outlined me-1">done</span>Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--BOOKED END-->
					{{else if booking.checked_in}}
					<!--OCCUPIED-->
					<div class="room-container col-2 p-0 m-0 border occupied">
						<button id="room-{{room._id}}-id" type="button" class="btn w-100 h-100" data-bs-toggle="modal" data-bs-target="#room-{{room._id}}-modal">
							<h3 class="text-center room-number">{{room.room_number}}</h3>
							{{room.room_type}}
						</button>

						<!-- Modal -->
						<div class="modal fade" id="room-{{room._id}}-modal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-header occupied">
										<h3 class="modal-title" id="reserveItemModalLabel">Room {{room.room_number}} Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body px-4 pt-3 pb-4">
										<div class="row">
											<!--Room information-->
											<div class="col pe-0 border-end">
												<h4>Room Status:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-status">Occupied</span></h5>
												<h4>Room Type:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-type">{{room.room_type}}</span></h5>
												<h4>Room Rate:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-rate">{{room.room_rate.daily}} Php/Day</span></h5>
												<h4>Duration of Stay:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-startdate">{{beautifyDate booking.start_date}}</span> to <span id="room-enddate-id">{{beautifyDate booking.end_date}}</span></h5>
											</div>
											<!--Guest information-->
											<div class="col ps-4">
												<h4>Guest Name:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-firstname" class="text-break">{{booking.guest.first_name}}John</span> <span id="room-lastname-id">{{booking.guest.last_name}}Doe</span></h5>
												<!-- Optional Fields -->
												{{#if booking.guest.birthdate}}
												<h4>Birthdate:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-birthdate">{{beautifyDate booking.guest.birthdate}}</span></h5>
												{{/if}}
												{{#if booking.guest.address}}
												<h4>Address:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-address" class="text-break">{{booking.guest.address}}</span></h5>
												{{/if}}
												{{#if booking.guest.contact_number}}
												<h4>Contact Number:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-contact">{{booking.guest.contact_number}}</span></h5>
												{{/if}}
												{{#if booking.guest.company_name}}
												<h4>Company Name:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-company" class="text-break">{{booking.guest.company_name}}</span></h5>
												{{/if}}
												{{#if booking.guest.occupation}}
												<h4>Occupation:</h4>
												<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-occupation">{{booking.guest.occupation}}</span></h5>
												{{/if}}
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--OCCUPIED END-->
					{{else}}
					<!--VACANT-->
					<div class="room-container col-2 p-0 m-0 border vacant">
						<button id="room-{{room._id}}-id" type="button" class="btn w-100 h-100" data-bs-toggle="modal" data-bs-target="#room-{{room._id}}-modal">
							<h3 class="text-center">{{room.room_number}}</h3>
							{{room.room_type}}
						</button>
						<!-- Modal -->
						<div class="modal fade" id="room-{{room._id}}-modal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header vacant">
										<h3 class="modal-title" id="reserveItemModalLabel">Room {{room.room_number}} Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body px-4 pt-3 pb-4">
										<h4>Room Status:</h4>
										<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-status">Vacant</span></h5>
										<h4>Room Type:</h4>
										<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-type">{{room.room_type}}</span></h5>
										<h4>Room Rate:</h4>
										<h5 class="ms-4 text-secondary room-field"><span id="room-{{room._id}}-rate">{{room.room_rate.daily}} Php/Day</span></h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										{{#isNotPastDate ../date}}
											<a href="{{room._id}}/create" class="btn btn-primary"><span class="material-icons-outlined me-1">library_add</span>Book</a>
										{{/isNotPastDate}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--VACANT END-->
					{{/if}}



					{{/each}}
				</div>

			</div>
		</div>
	</div>



</body>
</html>
