<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/calendar.css">
		<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
		<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="/js/calendar.js"></script>

		<title>Calendar</title>
	</head>
	<body>
		{{>navbar}}

		<div class="container-md">
			<table class="table" id="calendar">
				<thead>
					<tr>
						<th id="prev-month" onclick="/calendar/"><</th>
					 	<th colspan="5">{{currMonthName}} {{currYear}}</th>
					 	<th id="next-month">></th>
					</tr>
			  	</thead>
			  	<tbody>
					<tr>
						<td>Sunday</td>
						<td>Monday</td>
						<td>Tuesday</td>
						<td>Wednesday</td>
						<td>Thursday</td>
						<td>Friday</td>
						<td>Saturday</td>
					</tr>
					<tr>
						{{#each daysInMonth.[0]}}
						<td onclick="window.location.href='/{{../currYear}}-{{addLeadingZeros ../currMonthNum}}-{{addLeadingZeros this}}/reservation/'"><p>{{this}}</p></td>
						{{/each}}
					</tr>
					<tr>
					  	{{#each daysInMonth.[1]}}
					  	<td onclick="window.location.href='/{{../currYear}}-{{addLeadingZeros ../currMonthNum}}-{{addLeadingZeros this}}/reservation/'"><p>{{this}}</p></td>
					  	{{/each}}
					</tr>
					<tr>
					  	{{#each daysInMonth.[2]}}
					  	<td onclick="window.location.href='/{{../currYear}}-{{addLeadingZeros ../currMonthNum}}-{{addLeadingZeros this}}/reservation/'"><p>{{this}}</p></td>
					  	{{/each}}
					</tr>
					<tr>
					  	{{#each daysInMonth.[3]}}
					  	<td onclick="window.location.href='/{{../currYear}}-{{addLeadingZeros ../currMonthNum}}-{{addLeadingZeros this}}/reservation/'"><p>{{this}}</p></td>
					  	{{/each}}
					</tr>
					<tr>
					  	{{#each daysInMonth.[4]}}
					  	<td onclick="window.location.href='/{{../currYear}}-{{addLeadingZeros ../currMonthNum}}-{{addLeadingZeros this}}/reservation/'"><p>{{this}}</p></td>
					  	{{/each}}
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
