<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>if (typeof module === 'object'){
      window.module = module; 
      module = undefined;
      }</script>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/print.js"></script>
    <title>Document</title>
  </head>
  <style>
    body {
      width: 76mm;
      border: 1px solid black;
    }
    p {
      font-size: 25px;
      overflow-wrap: break-word;
    }
    .center {
      text-align: center;
    }
    @page {
      margin: 7.5mm;
    }
  </style>
  <body>
    <p class="center">Welcome to Jaelle Residences</p>
    <p>We hope to serve you well</p>
    <p>1 {{guest}}</p>
    <p>2 {{checkin}}</p>
    <p>3 {{checkout}}</p>
    <p>4 {{receptionist}}</p>
    <p>5 {{roomCost}}</p>
    <p>6 {{extraCharges}}</p>
    <p>7 {{subtotal}}</p>
    <p>8 {{totalDiscount}}</p>
    <p>9 {{total}}</p>
    <button id="print-test">new window</button>
    <button id="print-it">print</button>
  </body>
</html>