<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/print.css">

    <script>if (typeof module === 'object'){
      window.module = module;
      module = undefined;
      }</script>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/print.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="p-3">
        <h5 class="text-center mb-2">Welcome to Jaelle Residences</h5>
        <p class="text-center text-primary">We hope to serve you well</p>
        <p>{{guest}}</p>
        <p>{{checkin}}</p>
        <p>{{checkout}}</p>
        <p>{{receptionist}}</p>
        <p>{{roomCost}}</p>
        <p>{{extraCharges}}</p>
        <p>{{subtotal}}</p>
        <h6>DISCOUNTS APPLIED</h6>
        {{#if pwdSeniorDiscount}}
        <p>Senior/PWD Discount</p>
        {{/if}}
        <p>{{addtlFlatDiscReason}}</p>
        <p>{{addtlPercentDiscReason}}</p>
        <h6>DISCOUNT END</h6>
        <p>{{totalDiscount}}</p>
        <p>{{total}}</p>
        <div class="d-flex align-items-center justify-content-evenly">
            <button type="button" class="btn btn-primary rounded-pill" id="print-test">new window</button>
            <button type="button" class="btn btn-primary rounded-pill" id="print-it">print</button>
        </div>
    </div>

  </body>
</html>
