<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/sanitize.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/reservation-main.css">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/help.js"></script>

    <title>Reservation</title>
</head>
<body>

    <!--NAVBAR-->
    {{>navbar}}

    <!--MAIN ROW-->
    <div class="row w-100 m-0 h-100">
        <!--COLUMN FOR SIDEBAR-->
        {{>sidebar}}

        <!--COLUMN FOR MAIN-->
        <div class="col-10 mx-auto">
            <!--CONTAINER FOR MAIN RESERVATION-->
            <div id="container-screen" class="container shadow-lg bg-light p-4">
                <div class="d-flex pt-2 ps-2 m-0 align-items-center">
                    <h1 class="m-0">RESERVATION</h1>
                    {{#ifNotPastDate date}}
                        <a href="create" id="submit" name="submit" type="submit" class="btn btn-primary ms-4 rounded-pill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Proceeds to page for accomplishing a reservation form"><h5 class="p-2 m-0">Create Reservation</h5></a>
                    {{/ifNotPastDate}}
                    <p id="screen-info" class="border-start my-0 ms-4 ps-3 w-25 text-secondary">This is the screen where reservations are created, edited, and managed corresponding the current date chosen.</p>
                    <div class="d-flex flex-column ms-auto me-3 justfy-content-center align-items-center text-center">
                        <h5 class="m-0">Chosen Date</h5>
                        <h4 class="text-primary m-0">{{beautifyDate date}}</h4>
                    </div>

                </div>
                <hr>
                <div class="row px-4 py-3 d-flex justify-content-center">
                    {{#each list}}
                    <div class="col-3 border mx-3 px-0 pb-2 mb-5 rounded reservation-list shadow-sm">
                        <h4 id="{{booked_type}}" class="p-3 m-0 text-center text-break room-type-label">{{booked_type}}</h4>
                        <!-- Room Item -->
                        <div class="d-flex position-relative ml-0 mr-0 mb-2 reservation-list-container">
                            <div class="flex-grow-1 px-3 pb-3">
                                <!-- Button trigger modal -->
                                {{#each reservations}}
                                <button id="reservation-{{_id}}-id" type="button" class="btn w-100 text-start p-3 border mb-2 rounded-0 shadow-sm reservation-item overflow-auto" data-bs-toggle="modal" data-bs-target="#reservation-{{_id}}-modal">
                                    <h5><span id="reservation-{{_id}}-firstname-label-id" class="fa fa-pencil" aria-hidden="true">{{guest.first_name}}</span> <span id="reservation-{{_id}}-lastname-label-id" class="fa fa-pencil" aria-hidden="true">{{guest.last_name}}</span></h5>
                                    <h6 class="text-secondary reservation-field"><span id="reservation-{{_id}}-startdate-label-id">{{beautifyDate start_date}}</span> to <span id="reservation-{{_id}}-enddate-label-id">{{beautifyDate end_date}}</span></h6>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="reservation-{{_id}}-modal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="reserveItemModalLabel">Reservation Information</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body px-4 pt-3 pb-4">
                                                <h4>Guest Name:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-firstname" class="text-break">{{guest.first_name}}</span> <span id="reservation-lastname-id">{{guest.last_name}}</span></h5>
                                                <h4>Room Type:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-type">{{booked_type}}</span></h5>
                                                <h4>Reservation Date:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-startdate">{{beautifyDate start_date}}</span> to <span id="reservation-enddate-id">{{beautifyDate end_date}}</span></h5>
                                                <!-- Optional Fields -->
                                                {{#if guest.birthdate}}
                                                <h4>Birthdate:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-birthdate">{{beautifyDate guest.birthdate}}</span></h5>
                                                {{/if}}
                                                {{#if guest.address}}
                                                <h4>Address:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-address" class="text-break">{{guest.address}}</span></h5>
                                                {{/if}}
                                                {{#if guest.contact_number}}
                                                <h4>Contact Number:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-contact">{{guest.contact_number}}</span></h5>
                                                {{/if}}
                                                {{#if guest.company_name}}
                                                <h4>Company Name:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-company" class="text-break">{{guest.company_name}}</span></h5>
                                                {{/if}}
                                                {{#if guest.occupation}}
                                                <h4>Occupation:</h4>
                                                <h5 class="ms-4 text-secondary reservation-field"><span id="reservation-{{_id}}-occupation">{{guest.occupation}}</span></h5>
                                                {{/if}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><h5 class="m-0 p-1">Close</h5></button>
                                                <a href="/reservation-edit" class="btn btn-primary"><h5 class="m-0 p-1">Edit</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <!--TODO: FIX THIS, INADD KO LANG ITO INCASE NA WALANG RESERVATION FOR THE DAY-->
                    <h4 class="m-0 p-0 text-secondary text-center">No reservations today</h4>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
