<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/reservation.js"></script>

    <title>Edit Reservation</title>
</head>
<body>
    <div class="container-md">
        <br>
        <h1>Edit Reservation</h1>
        <hr>
        <br>

        <form id="form-submit" class="" action="/reservation/{{reservation._id}}/edit" method="post">
            <!--ROW-->
            <div class="row justify-content-center py-2">

                <!-- COLUMN 1: Room Details -->
                <div class="col-5 me-3 border p-4 pt-2 rounded">
                    <h3 class="pb-2 ps-2 pt-2 border-bottom mb-3">Room Details</h3>

                    <!--Room Type-->
                    <div class="form-group">
                        <label class="h5">Room Type</label>
                        <select class="form-select form-control w-75" id="reserve_type_select" name="reserve_type_select">
                            <option value="" disabled>Select the room type</option>
                            {{#each room_types}}
                            <option value='{{this}}' {{select reservation.booked_type this}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <p class="error" id="reserve-type-error"></p>
                    </div>

                    <!-- Start Date -->
                    <div class="form-group">
                        <label class="h5 d-block">Start Date</label>
                        <input class="form-control w-75" type="date" id="start-date" name="start_date" value={{formatDate reservation.start_date}}>
                        <p class="error" id="start-date-error"></p>
                    </div>

                    <!-- End Date -->
                    <div class="form-group">
                        <label class="h5 d-block">End Date</label>
                        <input class="form-control w-75" type="date" id="end-date" name="end_date" value={{formatDate reservation.end_date}}>
                        <p class="error" id="end-date-error"></p>
                    </div>
                </div>

                <!--COLUMN 2: Customer Details-->
                <div class="col-6 border p-4 pt-2 rounded">
                    <h3 class="pb-2 ps-2 pt-2 border-bottom mb-3">Customer Details</h3>

                    <!--First Name-->
                    <div class="form-group">
                        <label class="h5 d-block">First Name</label>
                        <input class="form-control w-50" type="text" placeholder="Enter First Name" id="firstname" name="firstname" value={{reservation.guest.first_name}}>
                        <p class="error" id="firstname-error"></p>
                    </div>

                    <!--Last Name-->
                    <div class="form-group">
                        <label class="h5 d-block">Last Name</label>
                        <input class="form-control w-50" type="text" placeholder="Enter Last Name" id="lastname" name="lastname" value={{reservation.guest.last_name}}>
                        <p class="error" id="lastname-error"></p>
                    </div>

                    <!--OPTIONAL FIELDS BELOW-->
                    <hr>

                    <!--Birthday-->
                    <div class="form-group">
                        <label class="h5 d-block">Birthdate</label>
                        <!--<input type="text" placeholder="*To Date" onfocus="(this.type='date')" onblur="(this.type='text')" >-->
                        <input class="form-control w-50" type="text" placeholder="(Optional) Enter Birthdate" onfocus="(this.type='date')" onblur="(this.type='text')" id="birthdate" name="birthdate" value={{formatDate reservation.guest.birthdate}}>
                    </div>

                    <!--Address-->
                    <!--TODO: Remove resizability factor-->
                    <div class="form-group">
                        <label class="h5 d-block">Address</label>
                        <textarea class="form-control w-75" placeholder="(Optional) Enter Address" id="address" name="address" rows="3">{{reservation.guest.address}}</textarea>
                    </div>

                    <!--Contact No.-->
                    <div class="form-group">
                        <label class="h5 d-block">Contact No.</label>
                        <input class="form-control w-75" type="text" placeholder="(Optional) Enter Contact No." id="contact" name="contact" value={{reservation.guest.contact_number}}>
                    </div>

                    <!--Company's Name-->
                    <div class="form-group">
                        <label class="h5 d-block">Company Name</label>
                        <input class="form-control w-75" type="text" placeholder="(Optional) Enter Company Name" id="company" name="company" value={{reservation.guest.company_name}}>
                    </div>

                    <!--Occupation-->
                    <div class="form-group">
                        <label class="h5 d-block">Occupation</label>
                        <input class="form-control w-50" type="text" placeholder="(Optional) Enter Occupation" id="occupation" name="occupation" value={{reservation.guest.occupation}}>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row-reverse mt-3">

                <!-- Button trigger modal -->
                <button id="modify" type="button" class="btn btn-primary mb-4 mt-2 w-25" data-bs-toggle="modal" data-bs-target="#modifyModal">
                    <strong>Modify</strong>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reserveModalLabel">Modify Reservation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to modify the reservation with the following information?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><strong>Close</strong></button>
                                <button id="submit" type="submit" class="btn btn-primary"><strong>Confirm</strong></button>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="javascript: history.back()" class="btn btn-secondary mb-4 mt-2 me-2 w-25"><strong>Return</strong></a>
            </div>
        </form>

    </div>

</body>
</html>
